body {
    background-color: rgb(74, 65, 117);
  }
  
  @media screen and (min-width: 400px) {
    body {
      background-color: rgb(238, 144, 191);
    }
  }
  
  @media screen and (min-width: 600px) {
    body {
      background-color: rgb(77, 124, 77);
    }
  }