body {background-color: #41B3A3;}


#element {
    width: 800px;
    height: 900px;
    background-color: #E8a87C;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    div-size: 20px;
  }


  a:link {
    color: red;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  a:hover {
    color: blue;
  }
  
  a:active {
    color: yellow;
  }


  body {
    margin: 20px;
    padding: 20px;
  }
  

  
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
  }
  
  nav a {
    color: blue;
    display: inline-block;
  }
  
  nav a:hover {
    color: #ff00ff;
  }
  
  h1, h2, h3 {
    background-color: #E27D60;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    list-style-type: none;
  }